<div class="jumbotron-fluid" Style="background-image: url('./assets/images/traffic.jpg');">
  <div class="container mx-auto">
    <div class="row">

    </div>
  </div>
</div>

<div>
  {{ _currentSurvey?.surveyDescription }}
</div>

<div class="jumbotron-fluid" Style="background-color:black;">
  <div class="container">
    <div class="row">
      <h2 style="margin-top: 2rem;"> {{ currentQuestionObject?.questionDescription}}</h2>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <form #questionForm="ngForm" (ngSubmit)="onFormSubmit(questionForm)">

          <div class="radioBlok" *ngFor="let answer of answers">
            <input type="radio" name="answerButtons" [(ngModel)]="selectedValue" value="{{answer}}">
            <label class="antwoordLabel">{{answer}}</label>
          </div>

          <button type="submit" *ngIf="show">
            Submit
          </button>

        </form>
      </div>

      <div *ngIf="buttonClicked" class="col-sm-6" style="background-color: white"
        [ngStyle]="{ 'color': this.chosenAnswer.correct === true ? 'green' : 'red' }"> {{this.chosenAnswer.answerExplanation}}</div>
    </div>

  </div>

  <div class="row" style="margin-top: 5px" >
    <div class="col-sm-12"></div>
  </div>

  <div class="row">
    <div class="col-11" Style="background-color:black;" *ngIf="buttonClicked">
    </div>
    <div class="col-1" Style="background-color:black;" *ngIf="showVolgende">
      <p style="margin: 1rem;"><button class="btn btn-dark btn-lg" (click)="nextQuestion()">Volgende</button></p>
    </div>
  </div>

</div>
